@model IEnumerable<RegistroVendas>


@{
    ViewData["Title"] = "Registro de Vendas";
}
<h1>@ViewData["Title"]</h1>

<p>
    <a asp-action="Create" class="btn btn-success">Criar Nova Venda</a>
</p>


<div>
    <table class="table table-striped table-hover">
        <thead>
            <th>
            @Html.DisplayNameFor(model => model.Id)
            </th>
        <th>
            @Html.DisplayNameFor(model => model.Data)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Quantidade)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VendedorId)
        </th>
        </thead>

    <tbody>
        @foreach(var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Id)</td>
                    <td>@Html.DisplayFor(model => item.Data)</td>
                    <td>@Html.DisplayFor(model => item.Status)</td>
                    <td>@Html.DisplayFor(model => item.Quantidade)</td>
                    <td>@Html.DisplayFor(model => item.VendedorId)</td>
                </tr>
            }

    </tbody>
    </table>
</div>