@model IEnumerable<Produto>;

@{
    ViewData["Title"] = "Produtos";
}

<h2>Produtos</h2>

<p>
    <a asp-action="Create" class="btn btn-primary">Criar Novo Produto</a>
</p>


<div>
    <table class="table table-striped table-hover">
        <thead>
        <th>
            @Html.DisplayNameFor(model => model.Id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nome)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.QuantidadeEstoque)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Preco)
        </th>
        </thead>

        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.Id)</td>
                    <td>@Html.DisplayFor(model => item.Nome)</td>
                    <td>@Html.DisplayFor(model => item.QuantidadeEstoque)</td>
                    <td>@Html.DisplayFor(model => item.Preco)</td>
                </tr>
            }

        </tbody>
    </table>
</div>